body{
    margin:0;
}
.footer{
    position: fixed;
    width: 50%;
    height: 120px;
    bottom: 0;
    margin-left: 25%;
    background-color: aqua;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
}
.footer-content p:nth-child(1){
    font-size: 16px;
    text-align: center;
}
.footer-content p:nth-child(2){
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
.salko {
    color:blue;
    background-color: red;
}
div.salko span{
    background-color: white;
}
div.salko span.ori{
    background-color: yellow;
}
div.salko span#mame{
    background-color: green;
}